#segaNavigation{

display: inline-block;

}

.segaNav li{

display: inline;

}


#mainContainer{

padding-left: 15px;
padding-right: 0px;
background: none;
box-shadow: none;
padding-bottom: 0;

}

#homepageCarousel{

background: white;
max-width: 860px;
margin-bottom: 15px;


}

.carousel-wrapper{
    height:400px;
    position:relative;
    width:800px;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
      right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
    


  /*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('Super-Monkey-Ball-Banana-Mania.jpg');
  background-size:cover;
  }
.item-2{
  background:url('Virtua_Fighter_Ultimate_Showdown.jpg');
  background-size:cover;
}
.item-3{
  background:url('Demon_slayer.png');
  background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }


#segaLatest{

 margin: 40px;
 margin-left: 10px;


}

#latestFromSega{

width: 280px;
height: 160px;
margin: 15px;


}

#segaNews{

margin: 40px;
margin-left: 10px;


}


#panelTabs{

display: inline-flex;
float: right;
position: relative;
overflow: hidden;
  

}

#panelTabs li{

list-style: none;
margin-left: 5px;
padding: 5px;

}


#feedPanels{

margin-top: 35px;


}


.youtubeVid{

float: left;
padding: 0;
margin: 10px 20px 10px 10px;
display: block;


}



#sonicContent{

width: 300px;
height: 120px;
margin-top: 30px;
overflow: hidden;
text-align: center;
background: url(https://img.youtube.com/vi/dvLxz2nPL_c/hqdefault.jpg);


}

#mankindContent{

width: 275px;
height: 120px;
overflow: hidden;
background: url(https://img.youtube.com/vi/RQkwU62rmeE/hqdefault.jpg);


}

#jsrfContent{

width: 275px;
height: 120px;
overflow: hidden;
background: url('Super_Monkey_Ball_Beat.jpg');


}

#segaSodaContent{

width: 275px;
height: 120px;
overflow: hidden;
background: url('Sonic_Soda_Machine.jpg');


}


#virtuaContent{

width: 275px;
height: 120px;
overflow: hidden;
background: url('Virtua_Fighter.jpg');

}

#monkeyBallContent{

width: 300px;
height: 120px;
overflow: hidden;
background: url('Super_Monkey_Ball_Meet_The_Gang.jpg');

}

#judgementContent{

width: 275px;
height: 120px;
overflow: hidden;
background: url('Lost_Judgement.jpg');

}

#shinMegamiTensei{

width: 275px;
height:120px;
overflow: hidden;
background: url('Shin_Megami_Tensei.jpg');

}

#sonicSuit{

width: 300px;
height:120px;
overflow: hidden;
background: url('Sonic_Suit.jpg');


}

#footer{

border-top: none;
margin-top: 20px;
padding: 0;
max-width: 960px;


}